.container {
  margin: 8rem 0;
}
/* Webfolio and clients review cards */
/* WebCards box*/
.webCardsBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.webCards,
.webAppCards,
.testimonialCard {
  display: flex;
  flex-direction: column;
  width: 220px;
  word-spacing: 1px;
  margin: 1rem 0;
  transition: all 0.6s;
}

.webCards,
.webAppCards {
  overflow: hidden;
  justify-content: space-evenly;
  padding: 0.5rem;
  letter-spacing: 0;
  border: 1px solid #fefefe;
  border-radius: 5px;
}
.webCards:hover,
.webAppCards:hover {
  border: 1px solid rgb(62, 141, 206);
  box-shadow: 2px 2px 18px rgb(76, 133, 165);
}
.webCardsImage {
  width: 220px;
  height: auto;
  position: relative;
  bottom: 11px;
  right: 8px;
}

.webCards .heading,
.webAppCards .heading,
.testimonialCard .heading {
  text-align: center;
}

.testimonialCard {
  border: 1px solid rgb(59, 136, 160);
  box-sizing: border-box;
  width: 90%;
  height: 60vh;
  padding: 2rem 1rem;
  margin: 2rem 2rem;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
}

.testimonial_img {
  margin-right: 1rem;
}

.testimonialCard .info_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.testimonialCard:hover {
  background: rgba(235, 241, 243, 0.2);
  color: rgb(241, 241, 243);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(68, 203, 244, 0.473);
}

/* Responsiveness */
@media screen and (min-width: 1070px) {
  .webCards {
    margin: 1rem;
  }
}

@media screen and (max-width: 780px) {
  .testimonialCard {
    flex-direction: column;
    height: auto;
    padding: 0;
    width: 100vw;
    margin: 2rem 0;
  }

  .testimonialCard .image_box {
    background-color: #b3d1e4;
    width: 100%;
    text-align: center;
  }

  .testimonial_img {
    margin-right: 0;
  }
  .testimonialCard p {
    margin: 0.5rem 2rem;
  }
}
