#serviceSection {
  margin: 6rem auto;
  padding: 1rem 6rem;
  text-align: center;
}

#serviceSection h1 {
  /* font-size: 1.5em; */
}

/* For Intro */
#introTextBox h1 {
  margin-bottom: 1rem;
}

#introBox {
  flex-wrap: wrap-reverse;
  margin-bottom: 5em;
  min-height: 70vh;
}
#introBtn {
  margin-top: 1rem;
}
#introBox #introImage {
  /* margin: 0 0 0 2rem; */
  border-radius: 10px;
}

/* For service boxes */
.rowReverse {
  flex-direction: row-reverse;
}

#ContainerHeading,
.serviceBox {
  margin-bottom: 4rem;
}
.serviceBoxImg {
  margin: 0 0 0 5rem;
}

@media screen and (min-width: 800px) {
  #introTextBox,
  #introImageBox {
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  .serviceBox {
    flex-wrap: wrap-reverse;
  }

  .serviceBoxImg {
    margin: 1rem 0 2rem 0;
  }
}

@media screen and (max-width: 420px) {
  #serviceSection {
    padding: 1rem 3rem;
  }
  .serviceBoxImg {
    width: 151px;
    height: 110px;
  }
}
