/* .section {
  background-color: red;
} */

#contactSection {
  padding: 1rem 6rem;
  text-align: center;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Cards */

.cards {
  display: flex;
  flex-direction: column;
  word-spacing: 1px;
  transition: all 0.7s;
  border: 2px solid;
  width: 250px;
  padding: 2rem 1rem;
  box-sizing: border-box;
  align-items: center;
  margin: 2rem 2rem;
  border-radius: 5px;
}
.cards:hover {
  background-color: rgb(242, 247, 247);
  color: rgb(17, 17, 18);
  border: 2px solid rgb(19, 20, 18);
}

#mapCard {
  padding: 0;
  justify-content: center;
  border: none;
  background: white;
}

/* #meetCard {} */

#pitchCard {
  text-align: start;
}

#pitchCard .PitchInps {
  border: none;
  outline: none;
  background: none;
  color: green;
  width: 125px;
}

.PitchInps::placeholder {
  color: red;
  opacity: 1;
}

.contact_form {
  max-width: 20rem;
  min-width: 15rem;
  padding: 25px 3.2rem;
  box-shadow: rgb(79 79 194 / 38%) 5px 5px 17px;
  text-align: left;
  border: 2px solid;
}

.input_field {
  margin-bottom: 1rem;
}

.formInputs {
  color: green;
}

.label {
  font-size: 1rem;
  display: block;
  text-transform: capitalize;
}

.contact_form input,
.contact_form textarea {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.success_msg {
  color: #a8e48a;
}

.error_msg {
  color: red;
}

.mapping {
  width: 100%;
}

@media screen and (max-width: 410px) {
  /* .label {font-size: 0.5rem;} */
}

@media screen and (max-width: 800px) {
  #contactPageMap {
    width: 100vw;
    height: 33vh;
  }
}
@media screen and (max-width: 700px) {
  #contactSection {
    padding: 1rem 2rem;
  }
}
