.myWorksSection {
  margin: 1.5rem auto;
  min-height: 100vh;
  padding: 6rem;
  text-align: center;
}









@media screen and (max-width: 600px) {
  .myWorksSection {
    padding: 6rem 2rem;
  }
}
