#navBox {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav_ul {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
}
.nav_li {
  list-style: none;
  margin: 0 2rem;
}

#serviceMenu {
}
#serviceMenu:hover #dropDownMenu {
  visibility: visible;
  opacity: 1;
}
#dropDownMenu {
  visibility: hidden;
  color: white;
  position: absolute;
  opacity: 0;
}

@media screen and (max-width: 425px) {
  #navBox {
    left: 0;
    width: 98%;
  }

  .nav_li {
    margin: auto;
  }
}
